name: "CI/CD quelpoke" 

on:
  push: 
    branches:
    - main

env:
  KUBERNETES_CLUSTER: gke-maalsi24-infal127
  IMAGE_TAG: europe-west9-docker.pkg.dev/cs-poc-hpzdycpiqjyvinhrczvlwcn/student-kevinm/quelpoke:latest

jobs: 
  ci-cd-build-push-deploy:
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: "Authenticate to Google Cloud"
        uses: 'google-github-actions/auth@v2'
        with:
          credentials_json: '${{ secrets.SERVICE_ACCOUNT_KEY }}'

      - name: "Authenticate to Google Cloud Artifacts Registry"
        run: gcloud --quiet auth configure-docker europe-west9-docker.pkg.dev

      - name: "Build docker image"
        run: docker build --tag=${IMAGE_TAG}

      - name: "Push docker image"
        run: docker push ${IMAGE_TAG}

      - name: "Authenticate to Google Cloud Kubernetes Engine"
        run: gcloud container clusters get-credentials ${KUBERNETES_CLUSTER} --region europe-west9 --project ${PROJECT_ID}

      - name: "Deploy to kubernetes"
        run: kubectl apply -f kubernetes/quelpoke.yaml
        
